<app-banner [listBread]="listBread" ></app-banner>
<main>
  <div class="container">
      <div class="row px-5 py-5">
          <div class="des-faq px-3 py-4">
              <div class="title-des">
                  <p>What Shipping Method are Avalitable?</p>
                  <i class="fas fa-minus"></i>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero labore velit, consectetur illo sapiente ipsam explicabo ullam tempora maiores voluptate, dolores eum enim incidunt aut porro illum eos placeat hic esse quis? Aspernatur laborum esse totam vitae. Natus velit magnam alias, saepe quidem officia voluptatibus, deleniti aliquid totam sint ea!</p>
          </div>
          <ul class="list-question-faq pe-0">
              <li class="question">
                  <p class="txt-question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, molestiae?</p>
                  <i class="fas fa-plus"></i>
              </li>
              <li class="question">
                  <p class="txt-question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, molestiae?</p>
                  <i class="fas fa-plus"></i>
              </li>
              <li class="question">
                  <p class="txt-question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, molestiae?</p>
                  <i class="fas fa-plus"></i>
              </li>
              <li class="question">
                  <p class="txt-question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, molestiae?</p>
                  <i class="fas fa-plus"></i>
              </li>
          </ul>
      </div>
  </div>
  <app-scroll-top></app-scroll-top>
</main>
