<div class="info-farmer">
  <div class="img-farmer d-flex align-items-center">
     <div class="imgg">
         <img src="../../../assets/imgHomePage/{{itemFarmer.img}}" alt="">
     </div>
  </div>
  <h2 class="name-farmer">{{itemFarmer.name}}</h2>
  <p class="position">{{itemFarmer.position}}</p>
  <div class="concat-farmer d-flex justify-content-center">
     <div class="icon-network">
         <i class="fab fa-facebook-f"></i>
     </div>
     <div class="icon-network">
         <i class="fab fa-twitter"></i>
     </div>
     <div class="icon-network">
         <i class="fab fa-instagram"></i>
     </div>
  </div>
</div>
