.container {
  width: 80%;
}

.container-fluid {
  padding-left: 0!important;
  padding-right: 0!important;
}

.logo-concat {
  height: 180px;
  width: 190px;
  margin: 30px auto;
}
.logo-concat img {
width: 100%;
}

.box-concat {
  width: 270px;
  height: 270px;
  background-image: url("../../../assets/imgHomePage/ab.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
}
.icon-concact {
  width:55px ;
  position: relative;
  z-index: 10;
}
.icon-concact img {
  width: 100%;
}
.icon-concact::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 15px;
  border-radius: 70%;
  background:rgba(0,0,0,0.5);
  bottom:-10px;
  left: 5px;
  z-index: -4;
}
.info-concat {
  font-size: 32px;
  font-weight: lighter;
  margin-top: 13px;
  margin-bottom: 5px;
  font-family: 'Sue Ellen Francisco', cursive;
  transition: all 0.5s ease;
}
.des-concat {
  font-size: 14px;
  transition: all 0.5s ease;
}
.des-concat:hover,
.info-concat:hover {
  color: #443c34;
}


.fomr-concact-main {
  margin: 60px 0;
}
.title-form-concact {
  position: relative;
  color: #fff;
  margin-bottom: 40px;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 45px;
  z-index: 30!important;
}
.title-form-concact span {
  color: #72a33c;

}
.bg-form-concat {
  height:600px;
  background-image: url("../../../assets/imgHomePage/cc01.jpg");
  background-size: cover;
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.blogs-form {
  width: 350px;
  margin-left: 80px;
}
.bg-form-concat::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color: rgba(19, 44, 2, 0.8);
  z-index: 1;
}
.form_control {
  position: relative;
  z-index: 30!important;
  width: 100%;
  padding: 10px 0px 10px 15px;
  font-size: 14px;
  color: #77aa40!important;
  outline: none;
  border: none;
  background-color: rgba(42,73,13,0.6);
  margin-bottom: 20px;
  cursor: pointer;
}
::placeholder {
  color: #77aa40!important;
   font-weight: bold;
   font-size: 13px;
}
.btn-submit-concat {
  position: relative;
  width: 100%;
  outline: none;
  border: none;
  color: #1e1d13;
  font-weight: bolder;
  padding: 8px 0;
  background-color: #72a33c;
  z-index: 30;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn-submit-concat:hover{
  color: #fff;
  background-color: #549843;
}

.map {
  width: 100%;
  /* background-image: url("../../../assets/imgHomePage/map.jpg"); */
  background-size: cover;
  height: 600px;
}
@media (max-width:1200px){
  .container {
      width: 95%!important;
  }
  .blogs-form {
      margin-left: 40px;
  }
}
@media (max-width:992px){
  .box-concat {
      width: 210px;
      height: 210px;
  }
  .icon-concact {
      width: 47px;
  }
  .icon-concact::before {
      width: 38px;
  }
  .info-concat {
      font-size: 30px;
  }
  .des-concat {
      text-align: center;
      width: 170px;
  }
  .blogs-form {
      margin: 0 auto;
  }
  .title-form-concact {
      font-size: 45px;
  }
  .logo-concat {
      height: 170px;
      width: 180px;
  }

}
@media (max-width:767px){
  .box-concat {
      width: 155px;
      height: 155px;
  }
  .icon-concact {
      width: 37px;
  }
  .info-concat {
      font-size: 25px;
  }
  .des-concat {
      width: 135px;
      font-size: 12px;
  }
  .icon-concact::before {
      width: 27px;
  }
  .logo-concat {
      height: 150px;
      width: 160px;
  }

}
@media (max-width:575px){
  .box-concat {
      width: 150px;
      height: 150px;

  }
}
@media (max-width:520px){
  .concat-main .row >div {
      width: 100%;
  }
  .box-concat {
      width: 220px;
      height: 220px;
      margin-bottom: 20px;
  }
  .icon-concact {
      width: 45px;
  }
  .info-concat {
      font-size: 30px;
  }
  .des-concat {
      width: 160px;
      font-size: 14px;
  }
  .icon-concact::before {
      width: 37px;
  }
  .blogs-form {
      width: 320px;
  }
  .title-form-concact {
      font-size: 40px;
  }
  .bg-form-concat {
      height: 470px;
  }
  .map {
      height: 350px;
  }
}
@media (max-width:350px){
  .blogs-form {
      width: 270px;
  }
  .title-form-concact {
      font-size: 35px;
  }
}

