<app-banner [listBread]="listBread"></app-banner>
<main>
  <div class="container">
      <div class="row main">
          <div class="col-xl-12">
              <div class="nav-cate-responsive">
                <div type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                  <i class="fa fa-align-left"></i>
                </div>
                <div class="tool-bar">
                    <div class="action-select">
                        <label class="pe-2" for="">Sort By: </label>
                        <select class="sort">
                            <option value="">Default</option>
                        </select>
                    </div>
                    <div class="action-select">
                        <label class="pe-2" for="">Show: </label>
                        <select class="num-page">
                            <option value="">12</option>
                        </select>
                    </div>
                    <div class="action-btn-display active"><i class="fas fa-th"></i></div>
                    <div class="action-btn-display"><i class="fa fa-th-list" aria-hidden="true"></i></div>
                </div>
              </div>
          </div>
          <div class="col-cate-left col-xl-3 col-lg-3 col-md-12">
            <div class="category-main">
                  <h3 class="title-cate">CATEGRIES</h3>
                  <div class="accordion pt-3" id="accordionPanelsStayOpenExample">
                    <ng-container *ngFor="let prd of listPrd">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="{{prd.id}}">
                          <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#panelsStayOpen' + prd.id" aria-expanded="false" [attr.aria-controls]="'panelsStayOpen' + prd.id">
                            <div class="name-cate">
                              <img src="../../../assets/imgHomePage/iconnew.png" alt="">
                              <h4>{{prd.name}}</h4>
                            </div>
                          </div>
                        </h2>
                        <div id="panelsStayOpen{{prd.id}}" class="accordion-collapse collapse" [attr.aria-labelledby]="prd.id">
                          <div class="accordion-body">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                              <ng-container *ngFor="let prdChild of prd.child" >
                                <div class="accordion-item child-dropMenu">
                                  <h2 class="accordion-header" id="{{prdChild.id}}">
                                    <div
                                      class="accordion-button collapsed"
                                      type="button"
                                      data-bs-toggle="collapse"
                                      [attr.data-bs-target]="'#panelsStayOpenChild' + prdChild.id"
                                      aria-expanded="false"
                                      [attr.aria-controls]="'panelsStayOpenChild' + prdChild.id"
                                    >
                                    <div class="name-cate">
                                      <h5>{{prdChild.name}}</h5>
                                  </div>
                                  </div>
                                  </h2>
                                  <div id="panelsStayOpenChild{{prdChild.id}}" class="accordion-collapse collapse" [attr.aria-labelledby]="prdChild.id">
                                    <div class="accordion-body">
                                      <ul class="list-Prd">
                                        <li>prd-01</li>
                                        <li>prd-02</li>
                                        <li>prd-03</li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <!-- <div class="box-category">
                      <ul class="list-category">
                          <li class="item-cate">
                              <div class="name-cate name-cate-0">
                                  <img src="./imgHomePage/iconnew.png" alt="">
                                  <h4>Vegetables</h4>
                              </div>
                              <ul class="list-cate-child-01">
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01 menu-drop-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Leaf Vegetables</h5>
                                      </div>
                                      <ul class="list-cate-child-02">
                                          <li class="item-cate-child-02">
                                              <p>- Spinach</p>
                                              <p>- Spring Onion</p>
                                              <p>- Cabbage</p>
                                              <p>- Lettuce</p>
                                          </li>
                                      </ul>
                                  </li>
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Root vegetables</h5>
                                      </div>
                                  </li>
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Pod vegetables</h5>
                                      </div>
                                  </li>
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Fruid vegetables</h5>
                                      </div>
                                  </li>
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Buld vegetables</h5>
                                      </div>
                                  </li>
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Flower vegetables</h5>
                                      </div>
                                  </li>
                              </ul>
                          </li>
                          <li class="item-cate">
                              <div class="name-cate name-cate-0">
                                  <img src="./imgHomePage/iconnew.png" alt="">
                                  <h4>Fruits</h4>
                              </div>
                              <ul class="list-cate-child-01">
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01 menu-drop-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Leaf Vegetables</h5>
                                      </div>
                                      <ul class="list-cate-child-02">
                                          <li class="item-cate-child-02">
                                              <p>- Spinach</p>
                                              <p>- Spring Onion</p>
                                              <p>- Cabbage</p>
                                              <p>- Lettuce</p>
                                          </li>
                                      </ul>
                                  </li>
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Root vegetables</h5>
                                      </div>
                                      <ul class="list-cate-child-02">
                                          <li class="item-cate-child-02">
                                              <p>- Spinach</p>
                                              <p>- Spring Onion</p>
                                              <p>- Cabbage</p>
                                              <p>- Lettuce</p>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li class="item-cate">
                              <div class="name-cate name-cate-0">
                                  <img src="./imgHomePage/iconnew.png" alt="">
                                  <h4>Organic Fruits</h4>
                              </div>
                              <ul class="list-cate-child-01">
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01 menu-drop-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Leaf Vegetables</h5>
                                      </div>
                                      <ul class="list-cate-child-02">
                                          <li class="item-cate-child-02">
                                              <p>- Spinach</p>
                                              <p>- Spring Onion</p>
                                              <p>- Cabbage</p>
                                              <p>- Lettuce</p>
                                          </li>
                                      </ul>
                                  </li>
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Root vegetables</h5>
                                      </div>
                                      <ul class="list-cate-child-02">
                                          <li class="item-cate-child-02">
                                              <p>- Spinach</p>
                                              <p>- Spring Onion</p>
                                              <p>- Cabbage</p>
                                              <p>- Lettuce</p>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li class="item-cate">
                              <div class="name-cate name-cate-0">
                                  <img src="./imgHomePage/iconnew.png" alt="">
                                  <h4>Sprouts</h4>
                              </div>
                              <ul class="list-cate-child-01">
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01 menu-drop-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Leaf Vegetables</h5>
                                      </div>
                                      <ul class="list-cate-child-02">
                                          <li class="item-cate-child-02">
                                              <p>- Spinach</p>
                                              <p>- Spring Onion</p>
                                              <p>- Cabbage</p>
                                              <p>- Lettuce</p>
                                          </li>
                                      </ul>
                                  </li>
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Root vegetables</h5>
                                      </div>
                                      <ul class="list-cate-child-02">
                                          <li class="item-cate-child-02">
                                              <p>- Spinach</p>
                                              <p>- Spring Onion</p>
                                              <p>- Cabbage</p>
                                              <p>- Lettuce</p>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li class="item-cate">
                              <div class="name-cate name-cate-0">
                                  <img src="./imgHomePage/iconnew.png" alt="">
                                  <h4>Custom</h4>
                              </div>
                              <ul class="list-cate-child-01">
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01 menu-drop-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Leaf Vegetables</h5>
                                      </div>
                                      <ul class="list-cate-child-02">
                                          <li class="item-cate-child-02">
                                              <p>- Spinach</p>
                                              <p>- Spring Onion</p>
                                              <p>- Cabbage</p>
                                              <p>- Lettuce</p>
                                          </li>
                                      </ul>
                                  </li>
                                  <li class="item-cate-child-01">
                                      <div class="name-cate name-cate-01">
                                          <i class="fas fa-chevron-right"></i>
                                          <h5>Root vegetables</h5>
                                      </div>
                                      <ul class="list-cate-child-02">
                                          <li class="item-cate-child-02">
                                              <p>- Spinach</p>
                                              <p>- Spring Onion</p>
                                              <p>- Cabbage</p>
                                              <p>- Lettuce</p>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </div> -->
              </div>
              <div class="filter-price">
                  <h3 class="title-cate">BY PRICE</h3>
                  <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                  <div class="slider-filler d-flex justify-content-between pt-3">
                      <p class="display-price-fillter mb-0">${{minValue}} - ${{maxValue}}</p>
                    <button class="btn-flter-price ">FILLER</button>
                  </div>
              </div>
              <div class="top-seller">
                  <h3 class="title-cate">TOP SELLER</h3>
                  <ng-container *ngFor="let item of listPrdTopSeller " [ngTemplateOutlet]="prdTopSeller"
                    [ngTemplateOutletContext]="{imgPrd : item.imgPrd ,namePrd: item.namePrd, pricePrd:item.priceNow }">
                  </ng-container>
              </div>
              <div class="popular-tags">
                  <h3 class="title-cate">POPULAR TAGS</h3>
                  <ul class="list-tags">
                      <li class="combo-tags">
                          <button class="tags">Cucumber</button>
                          <button class="tags">Vegetables</button>
                      </li>
                      <li class="combo-tags">
                          <button class="tags">Fruits</button>
                          <button class="tags">Organic Food</button>
                      </li>
                      <li class="combo-tags">
                          <button class="tags">Food</button>
                          <button class="tags">True Natural</button>
                      </li>
                      <li class="combo-tags">
                          <button class="tags">Garden</button>
                          <button class="tags">Green</button>
                      </li>
                  </ul>
              </div>
              <div class="hot-collection">
                  <div class="bg-collection d-flex align-items-center">
                      <h2>HOT</h2>
                      <p>COLLECTION</p>
                      <button class="btn-buy-now px-3 py-1">BUY NOW</button>
                  </div>
              </div>
          </div>
          <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 ">
              <div class="tool-bar">
                  <div class="row justify-content-between">
                      <div class="col-xl-4 col-lg-4">
                          <div class="info-num-page">
                              <p>Showing {{(idxFirst + 1)}} - {{idxLast}} of {{numPagePagination}} results</p>
                          </div>
                      </div>
                      <div class="col-xl-8 col-lg-8 d-flex justify-content-end">
                          <div class="action_select">
                              <label for="">Sort By: </label>
                              <select class="sort" (change)="handleSortPrd()" name="sortField" [(ngModel)]="sortField">
                                  <option *ngFor="let field of listSortByField " value="{{field}}">{{field.name}}</option>
                              </select>
                          </div>
                          <div class="action_select">
                              <label for="">Show: </label>
                              <select (change)="handleSelectPage(1)" name="numberPerPage" [(ngModel)]="numberPerPage" class="num-page" >
                                <option value="{{item}}" *ngFor="let item of listPrdOnPage">{{item}}</option>
                              </select>
                          </div>
                          <div class="action-btn-display"
                            [ngClass]="{'active': checkDisplay === 'table'}"
                            (click)="changeDisplay('table')"
                          >
                            <i class="fas fa-th"></i>
                          </div>
                          <div class="action-btn-display ms-2"
                            [ngClass]="{'active': checkDisplay === 'list'}"
                            (click)="changeDisplay('list')"
                          >
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="list-prd-arrivals">
                  <div class="row">
                      <div
                      *ngFor="let prdItem of listPrd1.slice(idxFirst,idxLast)"
                      [ngClass]="{'col-md-4 col-6': checkDisplay === 'table' }"
                      >
                        <app-product-item
                          [checkDisplay]="checkDisplay"
                          [contentPrd]="prdItem"
                        ></app-product-item>
                      </div>
                  </div>
              </div>
              <app-pagination
               [numItem]="numPagePagination"
               [limitNumber]="numberPerPage"
               (selectPage)="handleSelectPage($event)"
              ></app-pagination>
          </div>
      </div>
  </div>
<!-- /* respon col-left  -->
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div _ngcontent-eul-c48="" class="offcanvas-header d-flex justify-content-end">
          <div _ngcontent-eul-c48="" type="button" data-bs-dismiss="offcanvas" aria-label="Close" class="btn-close text-reset"></div>
      </div>
      <div class="offcanvas-body">
          <div class="category-main">
          <h3 class="title-cate">CATEGRIES</h3>
          <div class="accordion pt-3" id="accordionPanelsStayOpenExample">
              <ng-container *ngFor="let prd of listPrd">
              <div class="accordion-item">
                  <h2 class="accordion-header" id="{{prd.id}}">
                  <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#panelsStayOpen' + prd.id" aria-expanded="false" [attr.aria-controls]="'panelsStayOpen' + prd.id">
                      <div class="name-cate">
                      <img src="../../../assets/imgHomePage/iconnew.png" alt="">
                      <h4>{{prd.name}}</h4>
                      </div>
                  </div>
                  </h2>
                  <div id="panelsStayOpen{{prd.id}}" class="accordion-collapse collapse" [attr.aria-labelledby]="prd.id">
                  <div class="accordion-body">
                      <div class="accordion" id="accordionPanelsStayOpenExample">
                      <ng-container *ngFor="let prdChild of prd.child" >
                          <div class="accordion-item child-dropMenu">
                          <h2 class="accordion-header" id="{{prdChild.id}}">
                              <div
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#panelsStayOpenChild' + prdChild.id"
                              aria-expanded="false"
                              [attr.aria-controls]="'panelsStayOpenChild' + prdChild.id"
                              >
                              <div class="name-cate">
                              <h5>{{prdChild.name}}</h5>
                          </div>
                          </div>
                          </h2>
                          <div id="panelsStayOpenChild{{prdChild.id}}" class="accordion-collapse collapse" [attr.aria-labelledby]="prdChild.id">
                              <div class="accordion-body">
                              <ul class="list-Prd">
                                  <li>prd-01</li>
                                  <li>prd-02</li>
                                  <li>prd-03</li>
                              </ul>
                              </div>
                          </div>
                          </div>
                      </ng-container>
                      </div>
                  </div>
                  </div>
              </div>
              </ng-container>
          </div>

          </div>
          <div class="filter-price">
              <h3 class="title-cate">BY PRICE</h3>
              <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
              <div class="slider-filler d-flex justify-content-between pt-3">
                  <p class="display-price-fillter mb-0">${{minValue}} - ${{maxValue}}</p>
                  <button class="btn-flter-price ">FILLER</button>
              </div>
          </div>
          <div class="top-seller">
              <h3 class="title-cate">TOP SELLER</h3>
              <ng-container *ngFor="let item of listPrdTopSeller " [ngTemplateOutlet]="prdTopSeller"
                  [ngTemplateOutletContext]="{imgPrd : item.imgPrd ,namePrd: item.namePrd, pricePrd:item.priceNow }">
              </ng-container>
          </div>
          <div class="popular-tags">
              <h3 class="title-cate">POPULAR TAGS</h3>
              <ul class="list-tags">
                  <li class="combo-tags">
                      <button class="tags">Cucumber</button>
                      <button class="tags">Vegetables</button>
                  </li>
                  <li class="combo-tags">
                      <button class="tags">Fruits</button>
                      <button class="tags">Organic Food</button>
                  </li>
                  <li class="combo-tags">
                      <button class="tags">Food</button>
                      <button class="tags">True Natural</button>
                  </li>
                  <li class="combo-tags">
                      <button class="tags">Garden</button>
                      <button class="tags">Green</button>
                  </li>
              </ul>
          </div>
          <div class="hot-collection">
              <div class="bg-collection d-flex align-items-center">
                  <h2>HOT</h2>
                  <p>COLLECTION</p>
                  <button class="btn-buy-now px-3 py-1">BUY NOW</button>
              </div>
          </div>
      </div>
  </div>
  <app-scroll-top></app-scroll-top>
</main>
<ng-template
  #prdTopSeller
  let-imgPrd="imgPrd"
  let-namePrd="namePrd"
  let-pricePrd="pricePrd">
  <div class="box-prd-seller d-flex justify-content-start">
    <div class="img-prd-seller">
        <img src="../../../assets/imgHomePage/{{imgPrd}}" alt="">
    </div>
    <div class="info-prd-seller">
        <p class="name-prd">{{namePrd}}</p>
        <div class="evaluate">
            <i class="far fa-star active"></i>
            <i class="far fa-star active"></i>
            <i class="far fa-star active"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
        </div>
        <p class="price-prd"><b>${{pricePrd}}</b></p>
    </div>
  </div>
</ng-template>
