<div class="search-blogs ">
    <input class="input-search-blogs" type="text" name="" id="" placeholder="Search here...">
    <i class="fas fa-search"></i>
</div>
<div class="recent-post">
    <h2 class="title-cate-blogs">Recent Post</h2>
    <ul class="list-recent-post">
      <ng-container *ngFor="let item of listRecentPost" [ngTemplateOutlet]="recentPost"
        [ngTemplateOutletContext]="{imgBlog : item.img , nameBlog: item.name, timeBlog:item.time }">
      </ng-container>
    </ul>
</div>
<div class="category-blogs">
    <h2 class="title-cate-blogs">Categories</h2>
    <ul class="list-name-cate">
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>Berries <span> (8)</span></p>
        </li>
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>Beverage <span> (13)</span></p>
        </li>
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>Cereals <span> (8)</span></p>
        </li>
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>Dairy <span> (8)</span></p>
        </li>
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>Fruits <span> (11)</span></p>
        </li>
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>Salad <span> (8)</span></p>
        </li>
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>Tropical <span> (4)</span></p>
        </li>
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>Uncategorized <span> (0)</span></p>
        </li>
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>Vegetable <span> (11)</span></p>
        </li>
    </ul>
</div>
<div class="popular-tags">
    <h2 class="title-cate-blogs">Tags</h2>
    <ul class="list-tags">
        <li class="combo-tags">
            <button class="tags">ANIMAL</button>
            <button class="tags">FOOD</button>
            <button class="tags">ORGANIC</button>
        </li>
        <li class="combo-tags">
            <button class="tags">ORGANIC FOODS</button>
            <button class="tags">RECIPES</button>
        </li>
        <li class="combo-tags">
            <button class="tags">FARMING</button>
            <button class="tags">HEALTHY</button>
        </li>
    </ul>
</div>
<div class="Archives category-blogs">
    <h2 class="title-cate-blogs">Archives</h2>
    <ul class="list-name-cate">
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>November 2017</p>
        </li>
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>November 2017</p>
        </li>
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>November 2017</p>
        </li>
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>November 2017</p>
        </li>
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>November 2017</p>
        </li>
        <li class="name-cate-blog">
            <img src="../../assets/imgHomePage/iconnew.png" alt="">
            <p>November 2017</p>
        </li>
    </ul>
</div>
<ng-template
  #recentPost
  let-imgBlog="imgBlog"
  let-nameBlog="nameBlog"
  let-timeBlog="timeBlog">
  <li class="item-recent-post">
    <div class="img-recent-post">
        <img src="../../../assets/imgHomePage/{{imgBlog}}" alt="">
    </div>
    <div class="name-recent-post">
        <h4>{{nameBlog}}</h4>
        <i class="far fa-clock"></i>
        <span>{{timeBlog}}</span>
    </div>
  </li>

</ng-template>
