.content-main{
  background-color:#222736;
  padding: 25px;
}
.content-main .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f8f9fa;
  margin-bottom: 17px;
}
.content-header .content-title {
  line-height: 50px;
  font-size: 35px;
}

.card-header {
  border-bottom:0.2px solid #3e424f;
}
.content-header p {
  font-size: 13px;
}
.card {
  background-color: #2a3042;
  border-radius: 10px;
}
.card .card-body {
  padding: 8px 16px;
}
