<app-banner [listBread]="listBread"></app-banner>
<main>
  <div class="container">
    <div class="login-account px-5 mt-5">
        <h2 class="title-section">01 / Checkout Method</h2>
        <p class="info-condition">if you shopped with us before, please enter your details in the boxes. If you are a new customer. Please proceeed to the Billing & Shipping Section.</p>
        <form class="form-login pb-4" action="">
            <div class="row py-3">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <input type="text" class="form_control" placeholder="User name or Email">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <input type="password" class="form_control" placeholder="Password">
                </div>
            </div>
            <button class="btn btn-login">LOG IN</button>
            <a><p class="question">Last your passWord?</p></a>
        </form>
    </div>
    <form class="form-receiver" action="">
      <div class="bill_shipping-detail px-5 py-3">
          <div class="row">
              <div class="col-xl-6 col-lg-6">
                  <h2 class="title-section">02 / Billing & Shipping details</h2>
                  <!-- <form class="form-receiver" action=""> -->
                      <div class="combo-form_control">
                          <input type="text" class="form_control" placeholder="First Name">
                          <input type="text" class="form_control" placeholder="Last Name">
                      </div>
                      <input type="text" class="form_control" placeholder="Company (optinal)">
                      <div class="combo-form_control">
                          <input type="text" class="form_control" placeholder="Address">
                          <input type="text" class="form_control" placeholder="Apt,suite,etc (optinal)">
                      </div>
                      <div class="combo-form_control">
                          <select required class="select-info form_control">
                              <option value="" disabled selected>City</option>
                          </select>
                          <select required class="select-info form_control">
                              <option value="" disabled selected>State</option>
                          </select>
                      </div>
                      <input type="text" class="form_control" placeholder="Postcode /ZIP">
                      <div class="combo-form_control">
                          <input type="text" class="form_control" placeholder="Phone">
                          <input type="text" class="form_control" placeholder="Email">
                      </div>
                      <div class="box-check"><input class="input-check" type="checkbox" name="nam" value="nam"><span>Save this infomation for next time</span></div>
                      <textarea class="form-text-comment form_control" name="" id="" cols="30" rows="6" placeholder="Order note"></textarea>
                      <div  class="box-check"><input class="input-check" type="checkbox" name="nam" value="nam"><span>a different address?</span></div>
                  <!-- </form> -->
              </div>
              <div class="col-xl-6 col-lg-6">
                  <h2 class="title-section">Your Order</h2>
                  <div class="total-detail-bill">
                  <div class="title-column-your-order">
                      <h4>PRODUCT</h4>
                      <h4>TOTAL</h4>
                  </div>
                  <ul class="list-prd-price-name">
                      <li class="prd-price-name">
                          <p class="name-prd">Broccoli, bunch <span class="qlt">x 2</span></p>
                          <p class="price-prd">$ 5.00</p>
                      </li>
                      <li class="prd-price-name">
                          <p class="name-prd">Broccoli, bunch <span class="qlt">x 2</span></p>
                          <p class="price-prd">$ 5.00</p>
                      </li>
                      <li class="prd-price-name">
                          <p class="name-prd">Broccoli, bunch <span class="qlt">x 2</span></p>
                          <p class="price-prd">$ 5.00</p>
                      </li>
                  </ul>
                  <div class="sub_total">
                      <h4>SUB TOTAL</h4>
                      <p class="sub-total-price">$3.00</p>
                  </div>
                  <div class="shipping">
                      <h4>SHIPPONG</h4>
                      <p class="shipping-price">Flat rate: $2.00</p>
                  </div>
                  <div class="total-price-bill">
                      <h4>TOTAL</h4>
                      <p class="total-price">$20.00</p>
                  </div>
                  </div>
              </div>

          </div>
      </div>
      <div class="payment-info px-5 my-3">
          <h2 class="title-section">03 / Payment Infomation</h2>
          <div class="list-card-pay d-flex align-items-center">
             <p class="title-Creadit-card">Credit card (PayPal) </p>
              <img src="../../../assets/imgHomePage/paypal.jpg" alt="">
          </div>
          <p>Pay with your credit card via PayPal Website payments Pro.</p>
          <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4">
                  <input type="text" class="form_control" placeholder="Card Number">
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4">
                  <input type="text" class="form_control" placeholder="Expiry(MM/YY)">
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4">
                  <input type="text" class="form_control" placeholder="Card Code">
              </div>
          </div>
          <button class="btn btn-place_order">PLACE ORDER</button>
      </div>
    </form>
  </div>
  <app-scroll-top></app-scroll-top>
</main>
