li {
    list-style: none;
}
main .container-fluid {
    padding-left: 0!important;
    padding-right: 0!important;
}
.container {
  width: 80%;
}
.banner {
    width: 100%;
}
.img-banner {
    position: relative;
    width: 100%;
    height: 500px;
    flex-direction: column;
    text-align: center;
}
.img-banner::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.432);
    z-index: 10;
}
.img-bn1 {
    background-image: url("../../assets/imgHomePage/slider1-min.jpg");
    background-size: cover;
}
.img-bn2{
    background-image: url("../../assets/imgHomePage/slider2.jpg");
    background-size: cover;
}
.img-bn3{
    background-image: url("../../assets/imgHomePage/slider3.jpg");
    background-size: cover;
}
.img-banner >* {
    z-index: 16;
}
.message-banner{
    color: #9dc86b;
    font-size: 25px;
    z-index: 16;
    font-weight: bold;
}
.title-banner {
    font-size: 105px;
    font-weight: bold;
    color: #fff;
}
.title-banner span {
    color: #88c442;
}
.question-banner{
    font-size: 18px;
    color: #fff;
    font-weight: lighter;
}
 /* khoảng cách chung của các title danh mục  */
.title-search {
    padding: 40px 0;
}

/* customs phần btn slider banner */


/* custom btn new */



/* ===========================================================================  main*/

/*================================= search-Popup ================================== */
.input-search,
.btn-search {
    padding: 5px 30px;
    outline: none;
    border: none;
}


/*====================================== END ========================================*/
.single-service {
    position: relative;
    top: -65px;
    z-index: 15;
}
.service-content {
    width: 100%;
}
.service-content .service-img {
    width: 100%;
    height: 210px;
}
.service-content .service-img img {
width: 100%;
height: 100%;
}

.service-text .title-service {
    font-size: 35px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Sue Ellen Francisco', cursive;
}
.color-title{
    color: #549642; ;
   }
.color-title span {
    color:#5a4a3b;
}
.service-text .show-service {
    color: #6b6b6b;
    text-decoration:underline;
    text-align: center;
    font-size: 12px;
}

.new_arrivals {
    width: 100%;
    height: 650px;
    background-image: url('../../assets/imgHomePage/bgimg.jpg');
    background-size: cover;
}

.title-search {
    flex-direction: column;
}
.icon-title {
    width: 53px;
    height: 53px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.text-title {
    font-size: 60px;
    margin: 0 10px;
    font-family: 'Sue Ellen Francisco', cursive;
}
.list-prd-arrivals {
    margin-top: 60px;
}

.box-title img {
    width: 120px;
    height: 12px;
}
.new_arrivals .container {
    padding: 0px;
}
.new_arrivals .item {
    padding: 0 10px!important;
}

.box-prd {
    width: 100%;
    height: 365px;
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0.5px 1px 1.5px 1px rgb(230 226 226);
    transition: all 0.4s ease;
    cursor: pointer;
}
.box-prd:hover {
    box-shadow: 0 0 7px 4px #d1cfcf, 0 0 4px 1px #c7c7c7;
}
.box-prd .img-prd {
    width: 100%;
    height:175px;
}
.box-prd .img-prd img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.box-prd .info-prd {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-prd .name-prd {
    margin-top: 20px;
    font-size: 16px;
    color: #4a4642!important;
    font-weight: bold;
    text-align: center;
}
.box-prd .price-prd {
    font-size: 25px;
    margin: 15px 0;
}
.box-prd .price-prd .old-price{
    font-size: 14px;
    color: #f65151;
    text-decoration: line-through 0.5px;
}
.btn-buy-now .btn-buy {
    border: 2px solid #8bcf79;
    padding: 4px 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 35px;
    color:#37ab3c ;
    background-color: transparent;
    transition: all 0.3s ease;
}
.btn-buy-now .btn-buy:hover{
    background-color:#37ab3c ;
    color: #fff;
}
.btn-buy-now {
    position: relative;
}
.icon-prd {
    position: absolute;
    right: 88px;
    top: 5px;
    z-index: 100;
    width: 25px!important;
}

.list-prd-deal {
    padding: 40px 0px ;
}
.box-prd-row {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 170px;
    border-top: 1px solid #4a4642;
    padding:20px 0px;
    box-sizing: border-box;
    box-shadow: none!important;
    border-radius: 0;
}

.list-prd-deal .row >div :first-child .box-prd{
    border-top: none;
}

.box-prd-row .img-prd {
    width:90px;
    height:95px;
}
.box-prd-row .img-prd img,
.img-prd-middle img {
    width: 100%;
    height: 100%;
    border-radius: 0!important;
}
.box-prd-row .info-prd{
    justify-content: left!important;
    align-items: flex-start!important;
    margin-left: 10px;
}
.box-prd-row .name-prd {
    margin-top: 0px;
    margin-bottom: 0px;
}
.box-prd-row .price-prd,
.prd-deal-middle .price-prd  {
    font-size: 24px;
    font-weight: lighter;
}
.box-prd-row .old-price,
.prd-deal-middle .old-price {
    font-size: 14px!important;
    color:#f65151;
    text-decoration: line-through 0.5px;
    margin-left: 10px;
}
.box-prd-row .name-prd,
.prd-deal-middle .name-prd {
    font-size: 14px;
    font-weight: bold;
}
.evaluate i {
    color: yellowgreen;
    font-size: 8px;
}
.evaluate :nth-child(4),
.evaluate :nth-child(5){
    color:#4a4642;
}


.sale::before {
    content: "Sale";
    position: absolute;
    top: -20px;
    right: 15px;
    width: 55px;
    height: 55px;
    background-color: #ed64a5;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
}
.new::before {
    content: "New";
    position: absolute;
    top: -20px;
    right: 15px;
    width: 55px;
    height: 55px;
    background-color: #fea249;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
}
.list-item-tab {
    border-top: 1px solid#b2aba4;
    border-bottom: 1px solid#b2aba4;
    width: 80%;
    margin: 0 auto;
    padding: 5px 0px;
    color: #b2aba4;
    font-size: 16px;
}
.item-tab.active {
    color: #629624;
}
.item-tab:hover {
    cursor: pointer;
    color: #629624;
}
.list-item-tab span {
    margin:0 14px;
}
.prd-deal-middle {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-image: url('../../assets/imgHomePage/circle.png');
    position: relative;
    display: flex;
    justify-content: center;
}
.prd-deal-middle::before{
    content: "";
    position: absolute;
    bottom: 1px;
    width: 260px;
    height: 260px;
    background-color: white;
    border-radius: 50%;
    font-size:20px;
}
.img-prd-middle {
    width: 140px;
    height: 90px;
}
.img-prd-middle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prd-deal-middle .info-prd {
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
    z-index: 2;
}

/* ================= */
.banner-fresh-fruits,
.banner-free-shipping {
    width: 100%;
    height: 330px;
    background-color: #827161;
    flex-direction: column;
    position: relative;
    background-size: cover;
}
.banner-fresh-fruits::before{
content: "";
    position: absolute;
     top: 0px;
    left: 0px;
     bottom: 0px;
    right: 0px;
    background-color: rgba(20, 20, 20, 0.726);
    z-index: 2;
}
.banner-free-shipping {
    justify-content: end;
    background-image: url('../../assets/imgHomePage/bannerbody02.jpg');
}
.banner-fresh-fruits {
    background-image: url('../../assets/imgHomePage/bannerbody.jpg');
}
.banner-fresh-fruits h2 {
       font-size: 90px;
       margin-bottom: 40px;
       color: #70c15c;
       font-family: 'Sue Ellen Francisco', cursive;
       letter-spacing: 10px;

}
.banner-fresh-fruits h2 span {
    color: #d2ef89;

}
.btn-banner-fresh-fruits {
    padding: 6px 60px;
    border: 4px solid #bcda71;
    font-size: 18px;
    background-color: #908a65;
    color: #bcda71;
    z-index: 17;
    transition: all 0.5s ease;
    cursor: pointer;
}
.btn-banner-fresh-fruits:hover {
    color: #fff;
    background-color:#bcda71;
}
.btn-banner-free-shipping {
    background-color:#bcda71;
    margin: 25px 0px;
    font-size: 14px;
    padding:6px 35px;
    border:none;
    z-index: 17;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 4px solid transparent;
}
.btn-banner-free-shipping:hover{
    background: transparent;
    border: 4px solid #bcda71;
    color:#bcda71;
}
.content-banner-fresh-fruits {
    z-index: 17;
}
.content-banner-free-shipping{
    color: #ffffff;
    z-index: 17;
}
.content-banner-free-shipping h4 {
    font-size: 30px;
    font-family: 'Sue Ellen Francisco', cursive;
    letter-spacing: 5px;
}
.content-banner-free-shipping p {
    font-size: 14px;
    text-align: center;
}

/* =================== */
.item-organic-blogs {
    background-size: cover;
    height: 300px;
    width:100%;
    padding-left:20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    position: relative;
}
.item-organic-blogs::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(17, 17, 17, 0.459);
    z-index: 10;
}
.item-organic-blogs h3 {
    font-size: 26px;
    color: #ffffff;
    z-index: 17;
    font-family: 'Sue Ellen Francisco', cursive;

}
.item-organic-blogs p {
    font-size: 14px;
    font-weight: bold;
    color: #b0d458;
    line-height: 40px;
    z-index: 17;
}
/* ======================= */


.img-steps {
    width: 110px;
    height: 110px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    position: relative;
}
.img-step01 {
    background-image: url('../../assets/imgHomePage/circel02.png');
}
.img-step02 {
    background-image: url('../../assets/imgHomePage/circel03.png');
}
.img-step03 {
    background-image: url('../../assets/imgHomePage/circel04.png');
}
.img-step04 {
    background-image: url('../../assets/imgHomePage/circel05.png');
}

.img-steps::after{
    content: "";
    position: absolute;
    bottom: -20px;
    width: 80px;
    height: 0.2px;
    background-color: #5a4a3b;
}
.img-steps img {
    width: 40px;
}
.info-steps {
    text-align: center;
    margin-top: 30px
}
.info-steps h3 {
    font-size: 30px;
    font-family: 'Sue Ellen Francisco', cursive;
    color: #5a4a3b;
}
.info-steps p {
    font-size: 14px;
    color: #386f32;
    font-style:italic;
}

/* ===================== */


.sign-up-newsletter {
    width: 100%;
    height: 350px;
    background-image: url('../../assets/imgHomePage/bn.jpg');
    background-size: cover;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content-newsletter {
    text-align: center;
}
.content-newsletter .title-signup {
    font-size: 50px;
    color: #ffffff;
    font-family: 'Sue Ellen Francisco', cursive;
}
.title-signup span {
    color: #88c442;
}
.content-newsletter p {
    font-size: 18px;
    font-style:italic;
    color: #ffffff;
    margin: 20px auto;
}
.content-newsletter p strong {
    color: #88c442;
}
.txt-sigup-email >* {
    border: none;
    outline: none;
    padding: 5px 25px;
    font-size: 14px;
}
.input-email,
.input-search{
    width: 50%;
    color: #5a4a3b;
    border-radius: 20px 0 0 20px;
}
.btn-signup-email,
.btn-search {
    border-radius:0 20px 20px 0;
    font-style:italic;
    font-weight: bold;
    color: #ffffff;
    background-color: #88c442;
}

.brand-logo {
    padding: 40px 0;
}
.brand-logo img {
    width: 130px;
}
.item-brand-logo {
    display: flex;
    align-items: center;
}
.service {
    position: relative;
    bottom: -30px;
}

.detail-service {
    background-color: #add253;
    padding: 10px 20px;
}
.img-service {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #deedba;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-service img {
    width: 20px;
}
.content-service {
    font-weight: bold;
    color: #443c34;
}
.content-service .name-service {
    font-size: 20px;
    margin-bottom: 0px!important;
}
.content-service p {
    font-size: 13px;
}


/* ============================== responsive  ===================================== */
@media (max-width:1200px) {
    .container {
        width: 95%;
    }
    @keyframes anNext {
        from {right: -100px;opacity: 0;}
        to {right: -50px;opacity: 1;}
    }
    @keyframes anPrev {
        from {left: -100px;opacity: 0;}
        to {left: -50px;opacity: 1;}
    }
    .new_arrivals .owl-next {
        right: -50px;
    }
    .new_arrivals .owl-prev {
        left: -50px;
    }
    .service-content .service-img img {
        object-fit: cover;
    }
}
@media (max-width:992px) {
    .container {
        width: 95%!important;
    }
    @keyframes anNext {
        from {right: -100px;opacity: 0;}
        to {right: -40px;opacity: 1;}
    }
    @keyframes anPrev {
        from {left: -100px;opacity: 0;}
        to {left: -40px;opacity: 1;}
    }
    .new_arrivals .owl-next {
        right: -45px;
    }
    .new_arrivals .owl-prev {
        left: -45px;
    }
    @keyframes animateNext {
        from {right: -20px;opacity: 0;}
        to {right: 10px;opacity: 1;}
    }
    @keyframes animatePrev {
        from {left: -20px;opacity: 0;}
        to {left: 10px;opacity: 1;}
    }
    .banner .owl-next {
        right: 5px;
    }
    .banner .owl-prev {
        left: 5px;
    }
    .img-title-left,
    .img-title-right {
        width: 110px;
    }
    .img-banner {
        height: 450px;
        background-position: center;
    }
    .sign-up-newsletter {
        background-position: center;
    }
    .message-banner {
        font-size: 20px;
    }
    .title-banner {
        font-size: 75px;
    }
    .service-content .service-img {
        width: 100%;
        height: 160px;
    }
    .icon-title {
        width: 45px;
        height: 45px;
        margin-bottom: 15px;
    }
    .text-title {
        font-size: 50px;
    }
    .service-text .title-service {
        font-size: 35px;
        margin-top: 25px;
    }
    .service-text .show-service {
        font-size: 12px;
    }
    .list-prd-deal .row div {
         display: flex;
     }
    .list-prd-deal .ce {
        display: none!important;
    }
    .box-prd-row {
        border-top:none;
        padding: 0px 5px;
        margin-bottom: 10px;
        box-shadow: 0.5px 1px 1.5px 1px rgb(230 226 226)!important;
    }
    .box-prd-row .img-prd {
        width:120px;
        height:100px;
    }
    .evaluate i {
        margin: 5px 0;
        font-size: 11px;
    }
    .box-prd-row .price-prd {
        font-size: 23px;
        margin-top: 5px;
    }
    .box-prd-row .info-prd {
        margin-left: 5px;
    }
    .banner-fresh-fruits, .banner-free-shipping {
        width: 100%;
        height: 250px;
    }
    .banner-fresh-fruits h2 {
        font-size: 70px;
        letter-spacing: 8px;
        margin-bottom: 20px;
    }
    .content-banner-free-shipping h4 {
        font-size: 25px;
        letter-spacing: 3px;
    }

    .btn-banner-fresh-fruits {
        padding: 5px 50px;
        font-size: 14px;
    }
    .btn-banner-free-shipping {
        margin: 25px 0px;
        font-size: 10px;
        padding: 3px 20px;
    }
    .item-organic-blogs {
        height: 230px;
        padding-bottom: 15px;
    }
    .item-organic-blogs h3 {
        font-size: 20px;
    }

    .img-steps {
        width: 80px;
        height: 80px;
    }
    .icon-next {
        padding: 0px;
        margin-top: 30px!important;
    }
    .icon-next img {
        width: 40px;
        margin-left: 10px;
    }

    .item-brand-logo {
        justify-content: center;
    }
    .brand-logo {
        padding: 20px 0;
    }
    .new_arrivals .item {
        padding: 0 12px;
    }

}
@media (max-width:767px){
    .list-prd-deal {
        padding: 40px 0px ;
    }
    .list-prd-deal .row div {
        display: block;
    }
    .box-prd-row {
        margin: 20px auto;
       padding-top: 0px;
       box-shadow: 0.5px 1px 1.5px 1px rgb(230 226 226);
       transition: all 0.4s ease;
       cursor: pointer;
       border-radius: 10px;
    }
    .box-prd-row:hover {
        box-shadow: 0 0 7px 4px #d1cfcf, 0 0 4px 1px #c7c7c7;
    }
    .box-prd-row .img-prd {
        width: 100%;
        height: 175px;
    }
    .box-prd-row .img-prd img {
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
    }
    .box-prd-row .info-prd {
        margin-left: 0px;
        margin-top: 10px;
    }
    .box-prd-row .info-prd >* {
        margin: 5px auto!important;
      }
    .title-banner {
        font-size: 60px;
    }
    .box-prd {
        height: 360px;
    }
    .service-content .service-img {
        width: 100%;
        height: 270px;
    }
    .service-content {
        margin-bottom: 30px;
    }

    .banner-fresh-fruits h2 {
        font-size: 45px;
        letter-spacing: 4px;
    }
    .content-banner-free-shipping h4 {
        font-size: 30px;
        letter-spacing: 3px;
    }
    .btn-banner-fresh-fruits {
        padding: 5px 30px;
        font-size: 12px;
    }

    .item-organic-blogs h3 {
        font-size: 25px;
    }
    .icon-next img {
        width: 30px;
        margin-left: 15px;
    }
    .info-steps h3 {
        font-size: 25px;
    }

    .content-newsletter p {
        font-size: 14px;
    }
    .input-email{
        width: 86%;
    }

}

@media (max-width:576px) {

    .text-title {
        font-size: 40px;
    }
    .img-title-left, .img-title-right {
        width: 80px;
    }
    .icon-title {
        width: 40px;
        height: 40px;
    }

    .banner-fresh-fruits h2,
    .content-banner-free-shipping h4 {
        font-size: 50px;
        letter-spacing: 5px;
    }
    .btn-banner-free-shipping {
        margin: 25px 0px;
        font-size: 14px;
        padding: 4px 25px;
    }
    .img-steps {
        width: 65px;
        height: 65px;
    }
    .img-steps img {
        width: 30px;
    }
    .icon-next img {
        width: 20px;
    }
    .info-steps h3 {
        font-size: 24px;
    }
    .box-prd .name-prd {
        margin-top: 10px;
        font-size: 14px;
    }
    .box-prd .price-prd {
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .box-prd .price-prd .old-price {
        font-size: 12px;
    }

}

@media (max-width:430px) {
    .new_arrivals {
        height: 495px;
    }
    .message-banner,
    .question-banner  {
        font-size: 15px;
    }
    .title-banner {
        font-size: 40px;
    }
    .text-title {
        font-size: 30px;
    }
    .img-title-left, .img-title-right {
        width: 40px;
    }
    .service-text .title-service {
        font-size: 30px;
    }
    .service-content .service-img {
        height: 200px;
    }
    .box-prd {
        height: 300px;
    }
    .box-prd .img-prd {
        height: 140px;
    }
    .btn-buy-now .btn-buy {
    padding: 0.3rem 1.0rem;
    font-size: 12px;
    }
    .icon-prd {
        right: 83px;
        top: 2px;
        width: 30px!important;
    }
    .Deal_tab .item-tab {
        font-size: 13px;
    }
    .list-prd-deal .row >div {
        padding: 0 8px !important;
    }
    .list-item-tab {
        font-weight: bold;
        padding: 14px 0px;
        font-size: 16px;
        margin-top: 30px;
        width: 90%;
    }
    .new_arrivals .item {
        padding: 0 10px;
    }
    .box-prd-row .info-prd >* {
        margin: 2px auto!important;
        text-align: center;
    }
    .box-prd .price-prd {
        font-size: 22px;
    }
    .banner-fresh-fruits h2,
    .content-banner-free-shipping h4 {
        font-size: 45px;
        letter-spacing: 3px;
    }
    .icon-next {
        display: none;
    }
    .delivery_steps {
        padding: 20px 0px
    }
    .delivery_steps .row >div {
        width: 45%!important;
    }
    .img-steps {
        width: 70px ;
        height: 70px;
    }
    .content-newsletter .title-signup {
        font-size: 40px;
    }
    .input-email {
        width: 95%;
    }
    .item-brand-logo{
        margin-bottom: 20px;
        height: 40px;
    }
    .txt-sigup-email >* {
        padding: 5px 8px ;
        font-size: 14px;
    }
    .evaluate i {
        font-size:10px;
    }
}


