  <app-popup-email *ngIf="showPopup"></app-popup-email>
  <div class="banner">
    <owl-carousel-o [options]="customOptionsBanner">
      <ng-template carouselSlide>
        <div class="img-banner img-bn1 d-flex justify-content-center align-items-center">
          <h3 class="message-banner">Natural Health Care Ingredientsa</h3>
          <h1 class="title-banner">100% <span>ORGANIC</span></h1>
          <p class="question-banner">Are they safer? More nutritious?</p>
      </div>
      </ng-template>
      <ng-template carouselSlide>
         <div class="img-banner img-bn2 d-flex justify-content-center align-items-center">
                <h3 class="message-banner">Natural Health Care Ingredientsa</h3>
                <h1 class="title-banner">100% <span>ORGANIC</span></h1>
                <p class="question-banner">Are they safer? More nutritious?</p>
            </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="img-banner img-bn3 d-flex justify-content-center align-items-center">
          <h3 class="message-banner">Natural Health Care Ingredientsa</h3>
          <h1 class="title-banner">100% <span>ORGANIC</span></h1>
          <p class="question-banner">Are they safer? More nutritious?</p>
      </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <main>
    <div class="single-service">
        <div class="container">
            <div class="row">
                <div *ngFor="let item of listSingleService "  class="col-xl-4 col-lg-4 col-md-4 px-2 ">
                    <div class="service-content">
                        <div class="service-img">
                            <img src="../../../../assets/imgHomePage/{{item.img}}" alt="">
                        </div>
                        <div class="service-text">
                            <h2 class="title-service color-title">
                              {{(item.title)?.split(' ')[0]}}
                                <span >{{(item.title)?.split(' ').slice(1).join(' ')}}</span>
                            </h2>
                            <a href=""><p class="show-service">VIEW COLLECTIONS</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new_arrivals">
        <ng-container [ngTemplateOutlet]="titleSearch"
                [ngTemplateOutletContext]="{content : 'new arrivals'}">
        </ng-container>
        <div class="container">
          <owl-carousel-o [options]="customOptionsNew_Arrivals">
            <ng-template carouselSlide *ngFor="let prd of listPrd">
              <div class="px-2">
                <app-product-item [contentPrd]="prd"></app-product-item>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
    </div>
    <div class="Deal_Of_The_Day">
        <ng-container [ngTemplateOutlet]="titleSearch"
                [ngTemplateOutletContext]="{content : 'deal of the day' }">
        </ng-container>
        <div class="Deal_tab">
            <div class="container">
                <div class="row">
                    <ul class="d-flex list-item-tab justify-content-center">
                        <li class="item-tab active">all  <span>/</span></li>
                        <li class="item-tab">Fruit  <span>/</span></li>
                        <li class="item-tab">Meet  <span>/</span></li>
                        <li class="item-tab"> Vegatable</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-prd-deal">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-6 col-6 ">
                        <div *ngFor="let prd of listPrd2.slice(0,leftListPrd2)" class="col-xl-12 col-lg-12 col-md-4 col-sm-12 col-xs-12">
                            <div class="box-prd box-prd-row ">
                                <div class="img-prd">
                                    <img  [routerLink]="['/vegetable',prd.namePrd]" src="../../../../assets/imgHomePage/{{prd.img[0]}}" alt="">
                                </div>
                                <div class="info-prd d-flex align-items-center">
                                    <p class="name-prd" [routerLink]="['/vegetable',prd.namePrd]">{{prd.namePrd}}</p>
                                    <div class="evaluate">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <h2 class="price-prd">${{prd.price * (100 - prd.rate)/100}}<span class="old-price">${{prd.price}}</span></h2>
                                    <div class="btn-buy-now">
                                        <img class="icon-prd" src="../../../../assets/imgHomePage/cartnow.png" alt="">
                                        <button class="btn-buy" (click)="addPrdToCart(prd)" >BUY NOW</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-xl-4 col-lg-4 col-sm-4 align-items-center justify-content-center ce px-0">
                        <div class="prd-deal-middle">
                            <div class="info-prd d-flex align-items-center">
                                <div class="img-prd-middle">
                                    <img [routerLink]="['/vegetable',listPrd2[leftListPrd2]?.namePrd]" src="../../../../assets/imgHomePage/{{listPrd2[leftListPrd2]?.img[0]}}" alt="">
                                </div>
                                <p class="name-prd" [routerLink]="['/vegetable',listPrd2[leftListPrd2]?.namePrd]">{{listPrd2[leftListPrd2]?.namePrd}}</p>
                                <div class="evaluate">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <h2 class="price-prd">
                                  ${{listPrd2[leftListPrd2]?.price * (100 - listPrd2[leftListPrd2]?.rate)/100 }}
                                  <span class="old-price">${{listPrd2[leftListPrd2]?.price}}</span>
                                </h2>
                                <div class="btn-buy-now">
                                    <img class="icon-prd" src="../../../../assets/imgHomePage/cartnow.png" alt="">
                                    <button class="btn-buy" (click)="addPrdToCart(listPrd2[leftListPrd2])" >BUY NOW</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-6 col-6 ">
                      <div *ngFor="let prd of listPrd2.slice(leftListPrd2+1,listPrd2.length)" class="col-xl-12 col-lg-12 col-md-4 col-sm-12 col-xs-12">
                        <div class="box-prd box-prd-row ">
                            <div class="img-prd">
                                <img [routerLink]="['/vegetable',prd.namePrd]" src="../../../../assets/imgHomePage/{{prd.img[0]}}" alt="">
                            </div>
                            <div class="info-prd d-flex align-items-center">
                                <p [routerLink]="['/vegetable',prd.namePrd]" class="name-prd">{{prd.namePrd}}</p>
                                <div class="evaluate">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <h2 class="price-prd">${{prd.price * (100 - prd.rate)/100}}<span class="old-price">${{prd.price}}</span></h2>
                                <div class="btn-buy-now">
                                    <img class="icon-prd" src="../../../../assets/imgHomePage/cartnow.png" alt="">
                                    <button class="btn-buy" (click)="addPrdToCart(prd)">BUY NOW</button>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-body">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7 pb-3">
                    <div class="d-flex justify-content-center align-items-center banner-fresh-fruits">
                        <div class="content-banner-fresh-fruits">
                            <h2>FRESH <span> FRUITS</span></h2>
                        </div>
                        <button class="btn-banner-fresh-fruits">SHOP NOW</button>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
                    <div class="banner-free-shipping d-flex  align-items-center">
                        <div class="content-banner-free-shipping">
                            <h4>FREE SHIPPING</h4>
                            <p>WITH ORDER OVER $500</p>
                        </div>
                        <button class="btn-banner-free-shipping">SHOP NOW</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="organic_news">
        <ng-container [ngTemplateOutlet]="titleSearch"
                [ngTemplateOutletContext]="{content : 'organic news' }">
        </ng-container>
        <div class="organic_blogs">
            <div class="container-fluid">
                <div class="row">
                    <div *ngFor="let itemNew of listOragnicNew"  class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 px-1 pb-2">
                        <div class="item-organic-blogs"  [style.background-image]="'url(' + itemNew?.bgImg + ')'">
                            <p>{{itemNew.dateNew}}</p>
                            <h3>{{itemNew.content}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="delivery_proces">
        <ng-container [ngTemplateOutlet]="titleSearch"
                [ngTemplateOutletContext]="{content : 'delivery proces' }">
        </ng-container>
        <div class="delivery_steps">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <div class="detail-steps">
                            <div class="img-steps img-step01">
                                <img src="../../../../assets/imgHomePage/carrot.png" alt="">
                            </div>
                            <div class="info-steps">
                                <h3>STEP 01</h3>
                                <p>Choose more product</p>
                            </div>
                        </div>
                    </div>
                    <div class="icon-next col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 mt-5 ">
                        <img  src="../../../../assets/imgHomePage/iconnext.png" alt="">
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <div class="detail-steps">
                            <div class="img-steps img-step02">
                                <img src="../../../../assets/imgHomePage/home.png" alt="">
                            </div>
                            <div class="info-steps">
                                <h3>STEP 02</h3>
                                <p>Determine our Farm</p>
                            </div>
                        </div>
                    </div>
                    <div class="icon-next col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 mt-5">
                        <img  src="../../../../assets/imgHomePage/iconnext.png" alt="">
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <div class="detail-steps">
                            <div class="img-steps img-step03">
                                <img src="../../../../assets/imgHomePage/local.png" alt="">
                            </div>
                            <div class="info-steps">
                                <h3>STEP 03</h3>
                                <p>Write Your Location</p>
                            </div>
                        </div>
                    </div>
                    <div class="icon-next col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 mt-5">
                        <img  src="../../../../assets/imgHomePage/iconnext.png" alt="">
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <div class="detail-steps">
                            <div class="img-steps img-step04">
                                <img src="../../../../assets/imgHomePage/transport.png" alt="">
                            </div>
                            <div class="info-steps">
                                <h3>STEP 04</h3>
                                <p>Fast Delivery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sign-up-newsletter">
        <div class="container">
            <div class="content-newsletter">
                <h3 class="title-signup">SIGN UP <span>NEWSLETTER</span></h3>
                <P>Sign up our newsletter to recieve <strong>latest news</strong> and <strong>greate offers</strong>:</P>
            <!-- <form action="" > -->
                <div class="txt-sigup-email d-flex justify-content-center">
                    <input
                      [formControl]="emailUser"
                      class="input-email"
                      id="emailuser"
                      type="text"
                      placeholder="Enter your email here"
                    >
                    <button class="btn-signup-email" (click)="sendEmail()" [disabled]="emailUser.invalid" >Subscribe</button>
                </div>
                <ng-container *ngIf="(emailUser?.touched)">
                  <div class="messErrors" *ngIf=" emailUser?.errors?.pattern" >nhập không đúng định dạng</div>
                  <!-- <div style="color:red"*ngIf="emailUser?.errors?.required" > không được để trống </div> -->
                </ng-container>

            <!-- </form> -->
            </div>
        </div>
    </div>
    <div class="brand-logo">
        <div class="container px-0">
          <owl-carousel-o [options]="customOptionsBrand">
            <ng-template carouselSlide *ngFor="let itemBrand of listBrand">
              <div class="item-brand-logo">
                <img src="../../../../assets/imgHomePage/{{itemBrand.imgBrand}}" alt="">
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
    </div>
    <app-scroll-top></app-scroll-top>
  </main>
  <ng-template
    #titleSearch
    let-content="content">
    <div class="title-search d-flex justify-content-center">
      <img class="icon-title" src="../../../../assets/imgHomePage/iconnew.png" alt="">
      <div class="d-flex justify-content-center align-items-center">
          <img  class="img-title-left" src="../../../../assets/imgHomePage/righticon.png" alt="">
          <h3 class="text-title color-title">{{(content)?.split(' ')[0] |uppercase}}
            <span >{{(content)?.split(' ').slice(1).join(' ') |uppercase}}</span></h3>
          <img  class="img-title-right" src="../../../../assets/imgHomePage/lefticon.png" alt="">
      </div>
    </div>
  </ng-template>


