<div class="navbar-aside " id="offcanvas_aside">
  <div class="aside-top">
      <a href="Home" class="brand-wrap" >
          <img src="../../../assets/imgHomePage/logomainfooter.png" class="logo" alt="Evara Dashboard">
      </a>
      <button class="btn btn-icon btn-aside-minimize"> <i class="fas fa-chevron-left"></i> </button>
  </div>
  <nav class="menu">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="menu-item accordion-button active">
        <a class="menu-link" href="#">
            <i class="fas fa-home"></i>
            <span class="text">Dashboard</span>
        </a>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <i class="fas fa-shopping-bag"></i>
              <span class="text">Products</span>
          </div>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              <p class="category-name" routerLink="listproduct">Product List</p>
              <p class="category-name" routerLink="category">Categories</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <i class="fas fa-shopping-cart"></i>
            <span class="text">Orders</span>
          </div>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p class="category-name" routerLink="order">Order list 1</p>
            <p class="category-name" href="">Order detail</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <i class="fas fa-store-alt"></i>
            <span class="text">Sellers</span>
          </div>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p class="category-name" href="">Sellers cards</p>
            <p class="category-name" href="">Sellers list</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading04">
          <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse04" aria-expanded="false" aria-controls="flush-collapse04">
            <i class="fas fa-plus-square"></i>
            <span class="text">Add product</span>
          </div>
        </h2>
        <div id="flush-collapse04" class="accordion-collapse collapse" aria-labelledby="flush-heading04" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p class="category-name" routerLink="addproduct">Add product 1</p>
            <p class="category-name" href="">Add product 2</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading05">
          <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse05" aria-expanded="false" aria-controls="flush-collapse05">
            <i class="fas fa-donate"></i>
            <span class="text">Transactions</span>
          </div>
        </h2>
        <div id="flush-collapse05" class="accordion-collapse collapse" aria-labelledby="flush-heading05" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p class="category-name" href="">Transaction 1</p>
            <p class="category-name" href="">Transaction 2</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading06">
          <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse06" aria-expanded="false" aria-controls="flush-collapse06">
            <i class="fas fa-user-alt"></i>
            <span class="text">Account</span>
          </div>
        </h2>
        <div id="flush-collapse06" class="accordion-collapse collapse" aria-labelledby="flush-heading06" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p class="category-name" href="ListAcount">User</p>
            <p class="category-name" href="addAcount">Add User</p>
          </div>
        </div>
      </div>
      <div class="menu-item accordion-button">
        <a class="menu-link" href="#">
          <i class="fas fa-comment-dots"></i>
          <span class="text">Reviews</span>
        </a>
      </div>
      <div class="menu-item accordion-button">
        <a class="menu-link" href="#">
          <i class="far fa-star"></i>
          <span class="text">Brands</span>
        </a>
      </div>
      <div class="menu-item accordion-button">
        <a class="menu-link" href="#">
          <i class="fas fa-chart-pie"></i>
          <span class="text">Statistics</span>
        </a>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading07">
          <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse07" aria-expanded="false" aria-controls="flush-collapse07">
            <i class="fas fa-cog"></i>
            <span class="text">Settings</span>
          </div>
        </h2>
        <div id="flush-collapse07" class="accordion-collapse collapse" aria-labelledby="flush-heading07" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <p class="category-name" href="">Setting sample 1</p>
            <p class="category-name" href="">Setting sample 2</p>
          </div>
        </div>
      </div>
      <div class="menu-item accordion-button">
        <a class="menu-link" href="#">
          <i class="fas fa-location-arrow"></i>
          <span class="text"> Starter page </span>
        </a>
      </div>
    </div>
  </nav>
</div>

