<app-banner [listBread]="listBread" ></app-banner>
<main>
  <div class="container">
    <div class="row py-5">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
          <div class="action-btn-display active" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
            <i class="fa fa-align-left"></i>
          </div>
          <div class="content-detail-prd">
              <div class="img-blog-detail">
                  <img src="../../../assets/imgHomePage/blog1.jpg" alt="">
              </div>
              <div class="info-detail-prd">
                  <ul class="time-blog d-flex ">
                      <li class="time d-flex align-items-center">
                          <i class="far fa-clock"></i>
                          <p>April 30, 2018</p>
                      </li>
                      <li class="commemt d-flex align-items-center">
                          <i class="far fa-comment-dots"></i>
                          <p>0 comments</p>
                      </li>
                  </ul>
                  <h2 class="name-blog">Green Tea for Change Your Eating Food</h2>
                  <p class="description-detail-blogs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis excepturi veniam, officiis perspiciatis esse ad tenetur accusamus expedita a unde possimus minima exercitationem obcaecati doloribus non? Quasi dignissimos quaerat vero similique ea, dolores at, cupiditate, distinctio illo nulla necessitatibus nostrum molestiae. Cumque iste minima quis expedita corporis, accusamus animi dolorem.</p>
                  <p class="description-detail-blogs"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sit officia aliquam repellendus maxime, consequuntur, repudiandae perferendis ipsum doloremque natus eius ab quis accusantium quidem?</p>
              </div>
          </div>
          <div class="ask-answer py-5">
              <div class="row">
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-7 col-7">
                      <div class="content-question">
                          <h3 class="title-blog-detail">WHAT WE CAN TALK ABOUT</h3>
                          <ul class="list-name-cate">
                              <li class="name-cate-blog">
                                  <img src="../../../assets/imgHomePage/iconnew.png" alt="">
                                  <p>Farm to Fork</p>
                              </li>
                              <li class="name-cate-blog">
                                  <img src="../../../assets/imgHomePage/iconnew.png" alt="">
                                  <p>Organic Certification</p>
                              </li>
                              <li class="name-cate-blog">
                                  <img src="../../../assets/imgHomePage/iconnew.png" alt="">
                                  <p>Organic Gardening</p>
                              </li>
                              <li class="name-cate-blog">
                                  <img src="../../../assets/imgHomePage/iconnew.png" alt="">
                                  <p>How to rank higher in search</p>
                              </li>
                              <li class="name-cate-blog">
                                  <img src="../../../assets/imgHomePage/iconnew.png" alt="">
                                  <p>Organic industry Links</p>
                              </li>
                              <li class="name-cate-blog">
                                  <img src="../../../assets/imgHomePage/iconnew.png" alt="">
                                  <p>Sustainable and Organic Business</p>
                              </li>
                              <li class="name-cate-blog">
                                  <img src="../../../assets/imgHomePage/iconnew.png" alt="">
                                  <p>Why Choose Organic?</p>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-md-7 col-sm-5 col-5 d-flex align-items-center">
                      <div class="video-demo-prd">
                          <img src="../../../assets/imgHomePage/video.jpg" alt="">
                      </div>
                  </div>
              </div>
          </div>
          <div class="description-video">
              <h3 class="title-des">The standard chunk of Lorem Ipsum use</h3>
              <p class="content-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fuga accusantium possimus exercitationem illo quae amet eum sapiente quo consequuntur consequatur similique vero ab quibusdam iure voluptatem voluptate mollitia unde adipisci, reprehenderit beatae nemo! Corrupti dicta cumque id officia. Quasi?</p>
              <p class="content-des"><br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat ipsa aut ipsam qui dolorem enim nisi nostrum nemo deleniti eum.</p>
          </div>
          <div class="nav-tags">
              <div class="row d-flex justify-content-between">
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-6 d-flex">
                      <button class="tags">ANIMAL</button>
                      <button class="tags">FOOD</button>
                      <button class="tags">ORGANIC</button>
                  </div>
                  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-6 d-flex justify-content-between">
                      <p class="share-link">Share Link : </p>
                      <div class="list-icon-network">
                          <a> <i class="fab fa-facebook-f"></i></a>
                          <a><i class="fab fa-twitter"></i></a>
                          <a><i class="fab fa-google-plus-g"></i></a>
                          <a><i class="fab fa-pinterest-p"></i></a>
                          <a><i class="fab fa-youtube"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="section-comment">
              <div class="qlt-comment">
                  <h3 class="title-blog-detail title-comment"><span class="number-cm me-2">3</span>Comments</h3>
              </div>
              <div class="box-comments">
                  <ul class="list-content-comment">
                      <li class="comment-first item-comment d-flex my-5">
                          <div class="item-conent-comment">
                              <div class="row">
                                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 d-flex justify-content-center px-0">
                                      <div class="img-avata">

                                      </div>
                                  </div>
                                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                      <div class="info-comment">
                                          <div class="header-comment">
                                              <div class="date-nickname">
                                                  <p class="date-now-comment">May,01,2018</p>
                                                  <h4 class="nick-name">Lorem ipsum</h4>
                                              </div>
                                              <button class="btn btn-reply">REPLY</button>
                                          </div>
                                          <div class="body-comment">
                                              <p class="text-comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam repellat suscipit iure aperiam molestiae animi porro doloremque repudiandae saepe doloribus!</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li class="comment-after item-comment d-flex">
                          <div class="row">
                              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 d-flex justify-content-center px-0">
                                  <div class="img-avata">

                                  </div>
                              </div>
                              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                  <div class="info-comment">
                                      <div class="header-comment">
                                          <div class="date-nickname">
                                              <p class="date-now-comment">May,01,2018</p>
                                              <h4 class="nick-name">Lorem ipsum</h4>
                                          </div>
                                          <button class="btn btn-reply">REPLY</button>
                                      </div>
                                      <div class="body-comment">
                                          <p class="text-comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam repellat suscipit iure aperiam molestiae animi porro doloremque repudiandae saepe doloribus!</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li class="comment-first item-comment d-flex">
                          <div class="row">
                              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 d-flex justify-content-center px-0">
                                  <div class="img-avata">

                                  </div>
                              </div>
                              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                  <div class="info-comment">
                                      <div class="header-comment">
                                          <div class="date-nickname">
                                              <p class="date-now-comment">May,01,2018</p>
                                              <h4 class="nick-name">Lorem ipsum</h4>
                                          </div>
                                          <button class="btn btn-reply">REPLY</button>
                                      </div>
                                      <div class="body-comment">
                                          <p class="text-comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam repellat suscipit iure aperiam molestiae animi porro doloremque repudiandae saepe doloribus!</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="form-comment">
              <h3 class="title-blog-detail title-comment">Leave a Comment</h3>
              <p> Your email address will not be published</p>
              <div class="main-form mt-5">
                  <form action="">
                      <div class="input-info-user">
                          <input class="form-control-comment" type="text" placeholder="Name *">
                          <input class="form-control-comment" type="text" placeholder="Email *">
                          <input class="form-control-comment me-0" type="text" placeholder="Website *">
                      </div>
                      <textarea class="input-text-comment form-control-comment me-0" name="" id="" cols="30" rows="4" placeholder="Your Comment *"></textarea>
                      <button class="btn btn-submit-comment mt-3">SUBMIT COMMENT</button>
                  </form>
              </div>
          </div>
        </div>
        <div class="col-cate-right col-xl-3 col-lg-3 ">
          <app-col-right-blog></app-col-right-blog>
        </div>
    </div>
  </div>
<!-- col-right-respon -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header d-flex justify-content-end">
      <div _ngcontent-eul-c48="" type="button" data-bs-dismiss="offcanvas" aria-label="Close" class="btn-close text-reset"></div>
    </div>
    <div class="offcanvas-body">
      <app-col-right-blog></app-col-right-blog>
    </div>
  </div>
  <app-scroll-top></app-scroll-top>
</main>
