.offcanvas {
  width: 300px;
}
.offcanvas-start .offcanvas-header{
  padding: 10px 5px 5px 0px;
  }
.container {
  width: 80%;
}
li{
  list-style: none;
}
ul {
  padding-left: 0px;
}
p{
  margin-bottom: 0px;
}


.tags {
  font-size: 11px;
  border: 1px solid #7d7976;
  outline: none;
  padding: 5px 9px;
  font-weight: bold;
  color: #7d7976;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 5px;
}
.tags:hover{
  color: #fff;
  background-color: #88c442;
}

.name-cate-blog {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.name-cate-blog img  {
  width: 12px;
  height: 12px;
  margin-right: 20px;
}
.name-cate-blog p {
  font-size: 13px;
  color: #5a4a3b;
}

.content-detail-prd .img-blog-detail {
  width: 100%;
  height: 500px;
  margin-bottom: 40px;
}
.content-detail-prd .img-blog-detail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.time-blog li {
  font-size: 13px;
  font-weight: bold;
  color: #7d7976;
}
.time-blog li i {
  color: #88c442;
  margin-right: 10px;
}
.time-blog .time {
  margin-right: 20px;
  position: relative;
}
.time-blog .time::before {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 15px;
  background-color: #5a4a3b;
  right: -10px;
}
.info-detail-prd .name-blog {
  font-size: 40px;
  font-weight: bold;
  color: #5a4a3b;
  margin-bottom: 40px;
}
.description-detail-blogs {
  font-size: 15px;
  color: #7d7976;
}

.video-demo-prd  img{
  width: 100%;
}
.content-question .title-blog-detail {
  font-family: 'Sue Ellen Francisco', cursive;
}
.title-blog-detail {
  font-size: 28px;
  color: #549642;
  position: relative;
  margin-bottom: 50px;
}
.title-blog-detail::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  border-radius: 20px;
  bottom: -15px;
  background-color: #549642;
}
.content-question p {
  font-weight: bold;
}

.description-video .title-des {
  font-size: 24px;
  color: #5a4a3b;
}
.description-video .content-des{
color:#7d7976;
}
.nav-tags {
  background-color: #ededed;
  padding: 20px 25px;
  margin: 40px 0;
}
.nav-tags .tags {
  margin-right: 10px;
}
.share-link {
  font-size: 15px;
  font-weight: bold;
  color: #7b6e62;
}
.list-icon-network i {
  font-size: 15px;
  color: #7b6e62;
  margin-left: 10px;
}
.list-icon-network i:hover{
  color: #88c442;
  cursor: pointer;
}

/* phan comment */

.title-comment {
  font-size: 36px;
  color: #549642;
}
.img-avata {
  width: 80px;
  height: 80px;
  background-color: #88c442;
  border-radius: 50%;
}
.header-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-now-comment {
  font-size: 14px;
  color: #7b6e62;
}
.nick-name {
  font-size: 18px;
  color: #6aa327;
}
.info-comment {
  position: relative;
}
.info-comment::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  background-color:#d7d3d0;
  left: -25px;
  top: 5px;
}
.btn {
  outline: none;
  font-size: 13px;
  color: #549843;
  padding: 4px 20px;
  border-radius: 20px;
  border: 2px solid #549843;
  background-color: #fff;
  font-weight: bold;
  transition: 0.3s ease;
}
.btn:hover {
  color: #fff;
  background-color:#549843;
  cursor: pointer;
}
.body-comment .text-comment {
  /* font-size: 15px; */
  font-size: 14px;
  color: #a29991;
  margin-top: 15px;
}
.comment-after {
  margin-left: 135px;
  margin-bottom: 60px;
}

.main-form {
  width: 100%;
  border: 13px solid #efeeec;
  padding: 35px 25px;
}
.input-info-user {
  display: flex;
  margin-bottom: 20px;
}
.form-control-comment {
  margin-right: 5px;
  padding: 5px 0 5px 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #c2b7a2;
  color: #5a4a3b;
}
.input-text-comment {
  width: 100%;
}
.btn-submit-comment {
  border-radius: 3px;
  padding: 8px 20px;
  background-color: #549642;
  color: #fff;
}
/* ================== responsive phần col-cate-right */
.action-btn-display{
  padding: 10px 15px;
  display: none;
  border-bottom: 1px dotted black;
  border-top:1px dotted black;
  margin-bottom: 40px;
}
.action-btn-display i {
  font-size: 23px;
  cursor: pointer;
}
.action-btn-display i:hover{
  color: #5a4a3b;
}

@media (max-width:1200px){
  .container {
      width: 95%!important;
  }
  .main-form{
    padding: 35px 7px;
  }
}
@media (max-width:992px){
  .col-cate-right {
      display: none;
  }
  .action-btn-display {
      display: block!important;
  }
}
@media  (max-width:767px){
  .container {
      width: 95%!important;
  }
  .img-avata {
      width: 70px;
      height: 70px;
  }
  .body-comment .text-comment {
      margin-top: 0px;
  }
  .comment-after {
      margin-left: 90px;
      margin-bottom: 30px;
  }
  .comment-first {
      margin: 30px 0px!important;
  }
  .input-info-user > * {
      margin-right: 0px;
      margin-bottom: 20px;
  }
  .input-info-user {
      flex-direction: column;
      margin-bottom: 0px;
  }
  .info-detail-prd .name-blog {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
@media (max-width:576px) {

  .nav-tags {
      background-color: #ededed;
      padding: 10px;
      margin: 30px 0;
  }
  .info-detail-prd .name-blog {
      font-size: 35px;
      margin-bottom: 25px;
  }
}
@media  (max-width:500px){
  .img-avata {
      width: 50px;
      height: 50px;
  }
  .comment-after {
      margin-left: 45px;
    }
  .title-comment {
    font-size: 30px;
  }
  .title-blog-detail {
      margin-bottom: 40px;
  }
  .nav-tags .tags {
      margin-bottom: 10px;
  }
  .nav-tags > div {
      flex-direction: column;
  }
  .nav-tags .row :last-child {
      width: 70%;
      display: flex;
      align-items: center;
  }
  .share-link {
      width: 65%;
  }
  .ask-answer .row >div {
      width: 100%;
  }
  .content-detail-prd .img-blog-detail {
      width: 100%;
      height: 350px;
  }
  .info-detail-prd .name-blog {
      font-size: 30px;
  }
  .time-blog li {
      font-size: 14px;
  }
  .btn {
    font-size: 12px;
    padding: 3px 14px;
  }
  .info-comment::before {
    left: -14px;
    top: 5px;
}

}
@media  (max-width:360px) {
  .nav-tags .row :last-child {
      width: 80%;
  }
  .comment-after {
      margin-left: 20px;
      margin-bottom: 30px;
  }
  .info-detail-prd .name-blog {
    font-size: 23px;
  }
}

