
<div class="main-header">
  <form class="searchform">
      <div class="input-group">
          <input list="search_terms" type="text" class="form_control" placeholder="Search term">
          <button class=" btn-light bg" type="button"> <i class="fas fa-search"></i></button>
      </div>
  </form>
  <div class="nav-right">
      <ul class="nav">
          <li class="nav-item">
              <a class="nav-link btn-icon" href="#">
                  <i class="fas fa-bell"></i>
                  <span class="badge rounded-pill">3</span>
              </a>
          </li>
          <li class="dropdown nav-item">
              <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false">
                  <i class="fas fa-globe-africa"></i>
              </a>
          </li>
          <li class="dropdown nav-item">
          </li>
      </ul>
  </div>
</div>
